/* default styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.navbar-nav {
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-nav .nav-item {
  display: inline-block;
}

.navbar-nav .nav-link {
  margin: 0 10px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #cc0000;
  border-bottom: 2px solid #cc0000;
  padding-bottom: 2px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:#000;
}

.logo {
  height: 5rem;
}

/* layout styles */
.overlay {
  background-image: url("../Images/road.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px 100px 100px; 
  position: relative;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.overlay h2,
.overlay p {
  position: relative;
  z-index: 2;
}

section {
  padding-top: 150px;
}

section h2 {
  color: #cc0000;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* component styles */

.form-control {
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  position: relative;
}

.services .card {
  transition: transform 0.3s ease;
}

.services .card:hover {
  transform: scale(1.05);
}

.card {
  color: black;
  z-index: 2;
}

.card-title {
  font-size: 24px;
}

.services .card:hover h5 {
  color: #cc0000;
}

.card-text {
  font-size: 16px;
}

.card-icon {
  margin-right: 10px;
}

/* button/icon styles */

button[type="submit"] {
  color: #fff;
  background-color: #cc0000;
}

button[type="submit"]:hover {
  color: #fff;
  background-color: #000;
}

.contact-icons a > i:hover {
  color: #000;
}

i {
  z-index: 2;
  position: relative;
}

.contact-icons a {
  text-decoration: none;
  padding: 7px;
}

.contact-icons a > i {
  color: #cc0000;
}

/* Animation testing stuff */
button[type="submit"] {
  color: #fff;
  background-color: #cc0000;
  position: relative;
  overflow: hidden;
}

button[type="submit"]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

button[type="submit"]:hover::before {
  opacity: 1;
  animation: flightPath 2s linear infinite;
}

@keyframes flightPath {
  0% {
    transform: translate(-50%, -50%) rotate(-30deg) scale(0.3);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  80% {
    transform: translate(-50%, -50%) rotate(30deg) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(0.5);
    opacity: 0;
  }
}

button[type="submit"]::before i {
  font-size: 24px;
}



/* Media Query for smaller screens */
@media (max-width: 992px) {
  .overlay {
    padding: 50px 50px 50px;
  }

  .contact-icons {
    display: none;
  }

  .contact-icons-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact-icons-header a {
    margin: 18px;
  }

  .contact-icons-header a > i {
    color: #cc0000;
  }
}